td {
  background-color: white;
  resize: both;
  overflow: auto;
  width: 20px;
  height: 20px;
  border-style: solid;
  border-width: medium;
  table-layout: fixed;
  white-space: nowrap;
}
#resize {
  resize: both;
  overflow: auto;
}
.buttons {
  margin-top: 5%;
}
